<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIPROYECTO</title>
    <link rel="stylesheet" href="../../assets/css/estilos.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../assetss/js/validaciones.js" type="text/javascript"></script>

</head>

<body>
    <form >
    <div class="alta_Categoria">
        <h1>Gamming Eletronic</h1>
        <br>
        <div class="image">
            <img src="../../asssets/img/image .jpg">
        </div>

        <br>
            <div class="input">
                <label for="id">Categoria</label>
                <br>
                <input type="text" id="id">
                <br>
                <label for="nombre">Teclados</label>
                <br>
                <input type=”text” id="nombre" name="name">
                <br> 
            </div>
            <br>
            <div class="button_container">
                <button id="boton_guardar" class="custom-btn btn-7" type=”submit”> Guardar </button>
                <button id="boton_cancelar" class="custom-btn btn-7" type=”reset”> Cancelar </button>
            </div>
            <br>
        </form>
        <b>Jose Vitriago</b>
    </div>

</body>

</html>