<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIPROYECTO</title>
    <link rel="stylesheet" href="../../assets/css/estilos.css" />
    <script src="../../assets/js/jquery-3.6.0.min.js"></script>    
    <script src="../../assets/js/validaciones.js" ></script>


</head>

<body>
    <form id="fomulario_container" method="post">
    <div class="alta_Categoria">
        <h1>Gamming Eletronic</h1>
        <br>
        <div class="image">
            <img src="../../assets/img/image .jpg">
        </div>

        <br>
            <div class="input">
                <label for="id">Producto</label>
                <br>
                <input id="id" type="text" placeholder="Producto">
                <br>
                <label for="nombre">Nombre</label>
                <br>
                <input type="text" id="nombre" name="name" placeholder="Escribe el Nombre">
                <br>
                <label for="img">Imagen</label>
                <br>
                <input type="file" id="img" name="img" accept="image/png, image/jpeg">
                <br>
                <label for="descripcion">Descripcion</label>
                <br>
                <input type="" id="descripcion" placeholder="Escribe una Descripcion">
                <br>
                <label for="precio">Precio</label>
                <br>
                <input type="number" id="precio" placeholder="precio">
                <br>
                <label for="Id">Categoria</label>
                <br>
                <input type="text" id="Id" name="name" placeholder="La Categoria">       
            </div>
            <br>
            <div class="button_container">
                <button id="boton_guardar" class="custom-btn btn-7" type=”submit”> Guardar </button>
                <button id="boton_cancelar" class="custom-btn btn-7" type=”reset”> Cancelar </button>
            </div>
            <br>
        <b>Jose Vitriago</b>
    </div>
</form>
</body>

</html>